nav {
  background-color: #01c5c2 !important;
  #Navber {
    .navbar-nav {
      .nav-item {
        /* 投稿するボタンの背景を深緑にする */
        #post-link {
          background-color: #02f5f1;
          border-radius: 5px;
          padding-left: 1rem;
          padding-right: 1rem;
        }
        #register {
          border: solid 2px white;
          border-radius: 10px;
        }
      }
    }
  }
}